.start-navbar {
  padding: 2% 0;
  display: flex;
  justify-content: space-evenly;

  text-transform: uppercase;
}

.start-navbar div {
  font-weight: 500;
}

.selected {
  border-bottom: 4px solid #ffd700;
}

.start-main-container {
  height: 100%;
}

#crops-container {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-farming-button {
  width: 50%;
}

.start-farming-button button {
  width: 100%;
  height: 6vh;
  background-color: #000;
  border-radius: 15px;
  border: none;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.start-farming-button button:active {
  transform: translateY(4px);
}

#news-container {
  display: none;
}
