.timeline {
  padding: 1rem;
}
.timeline-container {
  display: flex;
  flex-direction: column;
}

.timeline-num {
  border: 2px solid #ffd700;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.timeline-row {
  margin: 1rem 0;
}

.timeline-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
}
